* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corTexto: white;
    --fundoSite: url('../img/bg-mobile.jpg');
    --corBorda: rgba(255, 255, 255, 0.5);
    --corBotao: rgba(255, 255, 255, 0.05);
    --corBotaoHover: rgba(255, 255, 255, 0.02);
    --corBrilho: rgba(255, 255, 255, 0.2);
    --bgModo: url('../img/sun.svg');
    --imgPerfil: url('../img/avatar-light.png')
}

.light {
    --corTexto: black;
    --fundoSite: url('../img/bg-mobile-light.jpg');
    --corBorda: rgba(0, 0, 0, 0.5);
    --corBotao: rgba(0, 0, 0, 0.05);
    --corBotaoHover: rgba(0, 0, 0, 0.1);
    --corBrilho: rgba(0, 0, 0, 0.2);
    --bgModo: url('../img/moon-stars.svg');
    --imgPerfil: url('../img/avatar.png')
}

body {
    background: var(--fundoSite) no-repeat center center/cover;
    color: var(--corTexto);
}

main {
    width: 90%;
    max-width: 588px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPerfil {
    margin-top: 64px;
    height: 150px;
    width: 150px;
    background: var(--imgPerfil) no-repeat center center/cover;
}

p {
    margin: 16px 0;
}

/* Nessa parte estou estilizando o botão de troca */
#troca {
    width: 64px;
    margin: 4px auto;
    position: relative;
    margin: 16px 0;
}

#btnFundo {
    width: 64px;
    height: 24px;
    background: var(--corBotao);
    border: 1px solid var(--corBorda);
    border-radius: 50px;
}

#btn {
    width: 32px; /* Largura */
    height: 32px; /* Altura */
    background: white var(--bgModo) no-repeat center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform:  translateY(-50%);
    cursor: pointer;
    animation: slide-back 0.4s;
}

.light #btn {
    animation:  slide-in 0.4s forwards;
}

#btn:hover {
    outline: 8px solid var(--corBrilho);
}

#navLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navLinks a {
    display: flex;
    text-decoration: none;
    background: var(--corBotao);
    border: 1px solid var(--corBorda);
    padding: 16px 24px;
    justify-content: center;
    color: var(--corTexto);
    border-radius: 8px;
    margin-bottom: 16px;
}

#navLinks a:hover {
    background: var(--corBotaoHover);
    border: 1.5px solid var(--corTexto);
    
}

#navSocial {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;    
    font-size: 24px;
}

#navSocial a{
    color: var(--corTexto);
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#navSocial a:hover {
    background: var(--corBrilho);
}

footer {
    padding: 64px 0;
    text-align: center;
}

@media (min-width: 700px) {
    :root {
        --fundoSite: url(../img/bg-desktop.jpg)
    }

    .light {
        --fundoSite: url(../img/bg-desktop-light.jpg)
    }
}



@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }

}